<!--this is not for this sprint it's a page i want to add later-->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=, initial-scale=1.0">
    <link rel="stylesheet" href="/fa-css/all.min.css">
    <title>portfolio items Howrse game</title>

    <link rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/normalize/7.0.0/normalize.min.css">

    <link rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/2.112/css/all.css"
    integrity="sha256-46qynGAKLSFpVbEBog43gvNhfrOj+BmwXdFgVK/Kvc=" crossorigin="anonymous" />

    <link href="https://font.googleapis.com/css?family=Source+Code+Pro:400,900|Source+Sans+Pro:300,900&display=swap" rel="stylesheet">
</head>
<body>
    <section class="nav-bar">
            <nav class="nav">
                <ul class="nav__list">
                    <li class="nav__item"><a href="app.component.html" class="nav__link"> Home</a></li>
                    <div class="dropdown-divider hover-box"></div>
                    <li class="nav__item"><a href="app.component.html#services" class="nav__link"> My Services</a></li>
                    <div class="dropdown-divider hover-box"></div>
                    <li class="nav__item"><a href="app.component.html#about" class="nav__link"> About me</a></li>
                    <div class="dropdown-divider hover-box"></div>
                    <li class="nav__item"><a href="app.component.html#work" class="nav__link"> My Work</a></li>
                </ul>
            </nav>
        </section>
    <!--Introduction-->
    <section class="intro" id="home">
        <h1 class="section-title sectoin-title__intro">
            The title<strong class="display-blok">of my project</strong>
        </h1>
        <p class="section-subtitle section-subtitle__intro pink_darkTXT"> A short discription</p>
        <img src="assets/img/Howrse-game.png" alt="a pictre of Roaa Almadi smiling" class="intro__img">
    </section>
    <div class="porfolio-item-indivdual">
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit,
            sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
        <img src="assets/Howrse-1.png" alt="">
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit,
            sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
            Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris
            nisi ut aliquip ex ea commodo consequat</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit,
            sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
    </div>
    <!--Footer-->
    <footer class="footer">
        <a href="mailto:roaa.almadi@gmail.com" class="footer-link"> roaa.almadi@gmail.com</a> <!--email address-->
        <ul class="social-list">
            <li class="social-list__item">a
                <a class="social-list__link" href="https://varaplatforms.com/">
                    <i class="fas fa-car"></i>
                </a>
            </li>
            <li class="social-list__item">b
                <a class="social-list__link" href="https://github.com/RoaaAlmadi">
                    <i class="fab fa-github"></i>
                </a>
            </li>
            <li class="social-list__item">c
                <a class="social-list__link" href="https://www.linkedin.com/in/roaa-almadi/">
                    <i class="fab fa-linkedin"></i>
                </a>
            </li>
        </ul> 
    </footer>
</body>