<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=, initial-scale=1.0">
    <link rel="stylesheet" href="/fa-css/all.min.css">
    <title>Roaa ALmadi Portfolio website</title>

    <link rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/normalize/7.0.0/normalize.min.css">

    <link rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/2.112/css/all.css"
    integrity="sha256-46qynGAKLSFpVbEBog43gvNhfrOj+BmwXdFgVK/Kvc=" crossorigin="anonymous" />

    <link href="https://font.googleapis.com/css?family=Source+Code+Pro:400,900|Source+Sans+Pro:300,900&display=swap" rel="stylesheet">

</head>
<body>
    <section class="nav-bar">
        <nav class="nav">
            <ul class="nav__list">
                <li class="nav__item"><a href="#home" class="nav__link"> Home</a></li>
                <div class="dropdown-divider hover-box"></div>
                <li class="nav__item"><a href="#services" class="nav__link"> My Services</a></li>
                <div class="dropdown-divider hover-box"></div>
                <li class="nav__item"><a href="#about" class="nav__link"> About me</a></li>
                <div class="dropdown-divider hover-box"></div>
                <li class="nav__item"><a href="#work" class="nav__link"> My Work</a></li>
            </ul>
        </nav>
    </section>

    <!--Introduction-->
    <section class="intro" id="home">
        <h1 class="section-title sectoin-title__intro">
            Hi, I am <strong class="display-blok">Roaa Almadi</strong>
        </h1>
        <p class="section-subtitle section-subtitle__intro pink_darkTXT"> SOFTWARE & MOBILE APP DEV</p>
        <img src="assets/img/roaa-img1.jpeg" alt="a pictre of Roaa Almadi smiling" class="intro__img">
    </section>
    <!-- My Services-->
    <section class="my-services" id="services">
        <header>
        <h2 class="section-title section-title__services">What I do</h2>
        <div class="services ">
            <div class="service">
                <h3>Website Devolopment</h3>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit,
                    sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                    Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris
                    nisi ut aliquip ex ea commodo consequat.
                </p>
            </div> <!-- / service-->
            <div class="service">
                <h3>IOS Devolopment</h3>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit,
                    sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                    Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris
                    nisi ut aliquip ex ea commodo consequat.
                </p>
            </div> <!-- / service-->
            <div class="service">
                <h3>Android devolopment</h3>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit,
                    sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                    Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris
                    nisi ut aliquip ex ea commodo consequat.
                </p>
            </div> <!-- / service-->
        </div> <!-- / services-->
        <a href="#work" class="btn">My Work</a>
    </header>
    </section>
    <!-- About Me-->
    <section class="about-me" id="about">
        <h2 class="section-title section-title__about"> Who I am</h2>
        <p class="section-subtitle section-subtitle__about">Software & Mobile Applicatio devoloper </p>
        <div class="about-me__body">
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit,
                sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris
                nisi ut aliquip ex ea commodo consequat.</p>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit,
                sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris
                nisi ut aliquip ex ea commodo consequat.</p>
        </div>
        <img class="about-me__img" src="assets/img/roaa-img2.jpeg" alt="Roaa Leaning against a bridg">
    </section>
    <!-- My work-->
    <section class="my-work" id="work">
        <h2 class="section-title section-title__work">My Work</h2>
        <p class="section-subtitle section-subtitle__work">A selection of my range of work</p>
        <div class="portfolio">
            <a href="portfolio-howrseGame.html" class="portfolio__item" routerLink="/howrse-game">
                <img src="assets/img/Howrse-game.png" alt="" class="Portfolio__img">
            </a>
            <a href="#" class="portfolio__item">
                <img src="assets/img/vara.png" alt="" class="Portfolio__img">
            </a>
            <a href="#" class="portfolio__item">
                <img src="assets/img/ninja-ball.jpg" alt="" class="Portfolio__img">
            </a>
            <a href="#" class="portfolio__item">
                <img src="assets/img/snake-game.jpg" alt="" class="Portfolio__img">
            </a>
        </div>
        <div class="portfolio-2">
            <a href="#" class="portfolio__item">
                <img src="assets/img/mail.png" alt="" class="Portfolio__img">
            </a>
            <a href="#" class="portfolio__item">
                <img src="assets/img/Recipe-android.png" alt="" class="Portfolio__img">
            </a>
            <a href="#" class="portfolio__item">
                <img src="assets/img/my-pet-game.png" alt="" class="Portfolio__img">
            </a>
        </div>
    </section>
    <!--Footer-->
    <footer class="footer">
        <a href="mailto:roaa.almadi@gmail.com" class="footer-link"> roaa.almadi@gmail.com</a> <!--email address-->
        <ul class="social-list">
            <li class="social-list__item">a
                <a class="social-list__link" href="https://varaplatforms.com/">
                    <i class="fas fa-car"></i>
                </a>
            </li>
            <li class="social-list__item">b
                <a class="social-list__link" href="https://github.com/RoaaAlmadi">
                    <i class="fab fa-github"></i>
                </a>
            </li>
            <li class="social-list__item">c
                <a class="social-list__link" href="https://www.linkedin.com/in/roaa-almadi/">
                    <i class="fab fa-linkedin"></i>
                </a>
            </li>
        </ul> 
    </footer>
</body>
</html>